.fishList__fish {
    flex-flow: row wrap;
    padding: 5px;
    width: 23%;
    border: solid black;
    margin: 5px;
    min-width: 200px;
    max-width: 200px;
    text-align: left;
    height: 450px;
    align-items: center;
}

.fish__info {
    text-align: left;
}

ul {
    margin-left: -16px;
}


/* .travelTips {
    flex-flow: column wrap;
    justify-content: center;
    width: 23%;
    border: solid black;
    margin: 5px;
}

.harvest {
    flex-flow: column wrap;
    justify-content: center;
    width: 23%;
    border: solid black;
    margin: 5px;
} */