.fishList__fish {
    flex-flow: row wrap;
    padding: 1%;
    padding-top: 2%;
    width: 23%;
    border: solid black;
    margin: 10px;
    min-width: 225px;
    max-width: 225px;
    text-align: left;
    height: 500px;
    align-items: center;
    background-color: rgb(173, 196, 213);
    border-radius: 25px;
      
}

h3 {   
    padding-left: 12%;
}

li {
    margin-bottom: 10px;
}
.fish__info {
    text-align: left;
}

ul {
    margin-left: -16px;
}


/* .travelTips {
    flex-flow: column wrap;
    justify-content: center;
    width: 23%;
    border: solid black;
    margin: 5px;
}

.harvest {
    flex-flow: column wrap;
    justify-content: center;
    width: 23%;
    border: solid black;
    margin: 5px;
} */