@import "./fishlist__fish.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html,main, body {
    font-family:'Josefin Sans', sans-serif;
}

html {
    background-image: url("/images/blueLake.jpg");
    background-size: 100%;
    background-color: aliceblue;
}

#title {
    display:flex;
    justify-content: center;
    min-width: 500px;
    margin-bottom: 20px;
}

header {
        padding: 10px;
        border: solid brown;
}

.container {
    display: flex;
}


.leftSide {
    flex: 3;
}


 .rightSide {
    flex: 1;
    margin-left: 3%;
    border: purple dotted;
} 
img {
    width: 175px;
    margin-left: 7%;
    margin-top: 8%;
    
}   

.fishList {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 23%;    
}

.travelTips {
    border: dotted red;  
}

.harvest {
    border: dotted green;
}

